/* Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@600;800&display=swap');

/** CSS RESET **/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
/** CSS RESET **/

/** GENERAL **/
html {
  /* ?font size to base 10 makes calculating rem values eaiser */
  font-size: 10px;
}

body {
  background-color: var(--veryPaleBlue);
  font-family: 'Manrope', sans-serif;
}

/* ?variables */
:root {
  --softCyan: hsl(174, 77%, 80%);
  --strongCyan: hsl(174, 86%, 45%);
  --lightGrayBlue95: hsl(224, 65%, 95%);
  --lightGrayBlue87: hsl(223, 50%, 87%);
  --grayBlue: hsl(225, 20%, 60%);
  --darkBlue: hsl(227, 35%, 25%);
  --veryPaleBlue: hsl(230, 100%, 99%);
  --lightGrayRed: hsl(14, 92%, 95%);
  --lightRed: hsl(15, 100%, 70%);
}

/* ?utility classes */
.main-container {
  margin: auto;
  width: 90%;
}

.flex-grid {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-grid-thirds {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-grid-thirds .col-1 {
  flex: 1;
}

.flex-grid-thirds .col-2 {
  flex: 2;
}

/** GENERAL **/

/** TYPOGRAPHY **/
header h1 {
  font-size: 2rem;
  font-weight: 800;
  color: var(--darkBlue);
}

header p {
  font-size: 1.5rem;
  color: var(--grayBlue);
}

main {
  font-size: 1.5rem;
}

/* TODO: Add number transition */
.slider-container__price {
  color: var(--darkBlue);
  font-size: 2rem;
  font-weight: 800;
}

/** TYPOGRAPHY **/

/** LAYOUT **/
header {
  height: 449px;
  background: url(./images/bg-pattern.svg);
}

main {
  position: relative;
}
/** LAYOUT **/

/** COMPONENTS **/
/* ?HeaderText */
header h1,
header p {
  margin-bottom: 1em;
  text-align: center;
}

.header-container {
  position: relative;
  z-index: 5;
  padding: 100px 0;
}

.header-container__image {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
/* ?HeaderText */

/* ?Pricing Component */
.pricing-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1em 0;
  border: 1px solid red;
  border-radius: 5px;
  text-align: center;
  color: var(--grayBlue);
  background-color: white;
}

.pricing-container__group {
  margin-bottom: 2em;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* ?Slider */
.slider-container__slider {
  width: 300px;
  /* margin-bottom same as pricing-container__group */
  margin: 0 auto 2em;
}

input[type='range'] {
  -webkit-appearance: none;
  width: 100%;
  height: 10px;
  outline: none;
  background-color: var(--lightGrayBlue95);
  background-image: linear-gradient(to right, var(--softCyan), var(--softCyan));
  background-size: 50% 100%;
  background-repeat: no-repeat;
  border-radius: 10px;
}

input[type='range']::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: url(./images/icon-slider.svg) no-repeat center, var(--strongCyan);
  cursor: pointer;
  box-shadow: 0px 15px 25px -7px var(--strongCyan);
}

.slider-container__text {
  letter-spacing: 0.1rem;
}
/* ?Slider */

/* ?Billing */
.billing-container {
  margin: auto;
  max-width: 400px;
}

.billing-container__toggle {
  height: 25px;
  min-width: 45px;
  max-width: 45px;
  background: var(--lightGrayBlue87);
  border-radius: 20px;
  padding: 5px;
}

.billing-container__toggle:hover {
  background-color: var(--strongCyan);
  cursor: pointer;
}

.billing-container__toggle-btn {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: white;
  transition: 0.3s ease-in-out transform;
}

.billing-container__toggle-btn.active {
  transform: translateX(20px);
}

.billing-container__text {
  white-space: nowrap;
}

.billing-container__discount {
  background-color: var(--lightGrayRed);
  color: var(--lightRed);
  padding: 0.5em;
  border-radius: 15px;
  font-size: 1.25rem;
}

.placeholder,
.billing-container__text,
.billing-container__toggle,
.billing-container__discount {
  margin: 0 0.3em;
}
/* ?Billing */

/* ?FooterText */
.footer-container {
  margin: auto;
  width: 200px;
}

.footer-container p {
  margin: 0 0 1em 0.75em;
}
/* ?FooterText */

/* ?CTAButton */
/* ?CTAButton */
/* ?Pricing Component */
/** COMPONENTS **/
